@model List<TeamMember>
@{
    ViewData["Title"] = "Index";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="index.html">Home</a></li>
            <li>Team</li>
        </ol>
        <h2>Team</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="row">
            @foreach (TeamMember teamMember in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/assets/img/team/@teamMember.Image" alt="">
                        <h4>@teamMember.Name @teamMember.SurName</h4>
                        <span>@teamMember.Position.Name</span>
                        <p>@teamMember.Description</p>
                        <div class="social">
                            <a href="">@Html.Raw(teamMember.TwitterUrl)</a>
                            <a href="">@Html.Raw(teamMember.FacebookUrl)</a>
                            <a href="@teamMember.InstagramUrl"><i class="bi bi-instagram"></i></a>
                            <a href="@teamMember.LinkedinUrl"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End Team Section -->